<html>
    <head>
        <meta charset="utf-8">
        <title>Таблица размеров обуви</title>
        <link rel="stylesheet" type="text/css" href="css/table.css" />
    </head>
    <body>
    <center>
        <table border="2">
            <tr>
                <th>Карточка</th>
                <th>Описание </th>
            </tr>
            <tr><td height="200"><img src="{{asset('img/01.png')}}" width="130" height="130"></td><td width="700">3,5</td></tr>
            <tr><td height="200"><img src="{{asset('img/02.jpg')}}" width="130" height="130"></td><td>3,5</td></tr>
            <tr><td height="200"><img src="{{asset('img/03.jpg')}}" width="130" height="130"></td><td>3,5</td></tr>
            <tr><td height="200"><img src="{{asset('img/04.png')}}" width="130" height="130"></td><td>3,5</td></tr>
            <tr><td height="200"><img src="{{asset('img/05.jpg')}}" width="130" height="130"></td><td>3,5</td></tr>
            <tr><td height="200"><img src="{{asset('img/06.png')}}" width="130" height="130"></td><td>3,5</td></tr>
            <tr><td height="200"><img src="{{asset('img/07.jpg')}}" width="130" height="130"></td><td>3,5</td></tr>
            <tr><td height="200"><img src="{{asset('img/08.jpg')}}" width="130" height="130"></td><td>3,5</td></tr>
            <tr><td height="200"><img src="{{asset('img/09.jpg')}}" width="130" height="130"></td><td>3,5</td></tr>
            <tr><td height="200"><img src="{{asset('img/10.jpg')}}" width="130" height="130"></td><td>3,5</td></tr>
            <tr><td height="200"><img src="{{asset('img/11.jpg')}}" width="130" height="130"></td><td>3,5</td></tr>
            <tr><td height="200"><img src="{{asset('img/12.jpg')}}" width="130" height="130"></td><td>3,5</td></tr>
            <tr><td height="200"><img src="{{asset('img/13.jpg')}}" width="130" height="130"></td><td>3,5</td></tr>
            <tr><td height="200"><img src="{{asset('img/14.jpg')}}" width="130" height="130"></td><td>3,5</td></tr>
            <tr><td height="200"><img src="{{asset('img/15.jpg')}}" width="130" height="130"></td><td>3,5</td></tr>
        </table>
    </center>
</body>
</html>