<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script type="text/javascript" src="{{asset('js/jquery-1.5.min.js')}}"></script>
        <title>Pokemon memory</title>
        <script type="text/javascript" src="{{asset('js/levels/level3.js')}}">

        </script>
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
        <link rel="stylesheet" type="text/css" href="{{asset('css/style.css')}}">

    </head>
    <body>
        <script type="text/javascript">


            setTimeout(timer, 1000);

        </script>
        <div><center>Осталось: <span id="timer_inp">41</span> сек. </center></div>



    </div>
    <div id="boxbutton">
        <p>Добро пожаловать, {{user.username}}. Приятной игры! </p>
        <span class="link">

            <span id="count">0</span>

        </span>
        &nbsp;
        <a href="javascript:" class="link" onclick="resetGame();">Сброс!</a>
    </div>
    <div id="boxcard">
        <div id="card1"><img src="{{asset('img/01.png')}}" /></div>
        <div id="card2"><img src="{{asset('img/02.jpg')}}" /></div>
        <div id="card3"><img src="{{asset('img/03.jpg')}}" /></div>
        <div id="card4"><img src="{{asset('img/04.png')}}" /></div>
        <div id="card5"><img src="{{asset('img/05.jpg')}}" /></div>
        <div id="card6"><img src="{{asset('img/06.png')}}" /></div>



        <div id="card16"><img src="{{asset('img/01.png')}}" /></div>
        <div id="card17"><img src="{{asset('img/02.jpg')}}" /></div>
        <div id="card18"><img src="{{asset('img/03.jpg')}}" /></div>
        <div id="card19"><img src="{{asset('img/04.png')}}" /></div>
        <div id="card20"><img src="{{asset('img/05.jpg')}}" /></div>
        <div id="card21"><img src="{{asset('img/06.png')}}" /></div>

    </div>
</body>
</html>