<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script type="text/javascript" src="{{asset('js/jquery-1.5.min.js')}}"></script>
        <title>Pokemon memory</title>
        <script type="text/javascript" src="{{asset('js/levels/level6.js')}}">

        </script>
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
        <link rel="stylesheet" type="text/css" href="{{asset('css/style0_6.css')}}">
        <script type='text/javascript' src="{{asset('demo/js/jquery-1.11.1.min.js')}}"></script>
        <script type='text/javascript' src="{{asset('jquery.particleground.min.js')}}"></script>
        <script type='text/javascript' src="{{asset('demo/js/demo.js')}}"></script>

    </head>
    <body>
        
        <div id="particles"></div>
        <div id="completed">
            <div id="okno">
                Поздравляем, вы прошли все уровни!<br>
                <a href="/" class="close">На главную</a>
            </div>
        </div>
        <script type="text/javascript">


            setTimeout(timer, 1000);

        </script>
        <div><center>Осталось: <span id="timer_inp">150</span> сек. </center></div>



    </div>
    <div id="boxbutton">
        <p>Добро пожаловать, {{user.username}}. Приятной игры! </p>
        <span class="link">

            <span id="count">0</span>

        </span>
        &nbsp;
        <a href="javascript:" class="link" onclick="resetGame();">Сброс!</a>
    </div>
    <div id="boxcard">
        <div id="card1"><img src="{{asset('img/01.png')}}" /></div>
        <div id="card2"><img src="{{asset('img/02.jpg')}}" /></div>
        <div id="card3"><img src="{{asset('img/03.jpg')}}" /></div>
        <div id="card4"><img src="{{asset('img/04.png')}}" /></div>
        <div id="card5"><img src="{{asset('img/05.jpg')}}" /></div>
        <div id="card6"><img src="{{asset('img/06.png')}}" /></div>
        <div id="card7"><img src="{{asset('img/07.jpg')}}" /></div>
        <div id="card8"><img src="{{asset('img/08.jpg')}}" /></div>
        <div id="card9"><img src="{{asset('img/09.jpg')}}" /></div>
        <div id="card10"><img src="{{asset('img/10.jpg')}}" /></div>
        <div id="card11"><img src="{{asset('img/11.jpg')}}" /></div>
        <div id="card12"><img src="{{asset('img/12.jpg')}}" /></div>
        <div id="card13"><img src="{{asset('img/13.jpg')}}" /></div>
        <div id="card14"><img src="{{asset('img/14.jpg')}}" /></div>
        <div id="card15"><img src="{{asset('img/15.jpg')}}" /></div>



        <div id="card16"><img src="{{asset('img/01.png')}}" /></div>
        <div id="card17"><img src="{{asset('img/02.jpg')}}" /></div>
        <div id="card18"><img src="{{asset('img/03.jpg')}}" /></div>
        <div id="card19"><img src="{{asset('img/04.png')}}" /></div>
        <div id="card20"><img src="{{asset('img/05.jpg')}}" /></div>
        <div id="card21"><img src="{{asset('img/06.png')}}" /></div>
        <div id="card22"><img src="{{asset('img/07.jpg')}}" /></div>
        <div id="card23"><img src="{{asset('img/08.jpg')}}" /></div>
        <div id="card24"><img src="{{asset('img/09.jpg')}}" /></div>
        <div id="card25"><img src="{{asset('img/10.jpg')}}" /></div>
        <div id="card26"><img src="{{asset('img/11.jpg')}}" /></div>
        <div id="card27"><img src="{{asset('img/12.jpg')}}" /></div>
        <div id="card28"><img src="{{asset('img/13.jpg')}}" /></div>
        <div id="card29"><img src="{{asset('img/14.jpg')}}" /></div>
        <div id="card30"><img src="{{asset('img/15.jpg')}}" /></div>

    </div>
</body>
</html>